# Multi-Step MLP Models

references :

- How to Develop Multilayer Perceptron Models for Time Series Forecasting

  https://machinelearningmastery.com/how-to-develop-multilayer-perceptron-models-for-time-series-forecasting/
  


- Exploratory Configuration of a Multilayer Perceptron Network for Time Series Forecasting 

  https://machinelearningmastery.com/exploratory-configuration-multilayer-perceptron-network-time-series-forecasting/

## Example case

In [ ]:
from pandas import DataFrame
from pandas import Series
from pandas import concat
from pandas import read_csv
from pandas import datetime
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense
from math import sqrt
import matplotlib

##### transform the data

In [21]:
# univariate data preparation
from numpy import array

# split a univariate sequence into samples
def split_sequence(sequence, n_steps_in, n_steps_out):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps_in
		out_end_ix = end_ix + n_steps_out
		# check if we are beyond the sequence
		if out_end_ix > len(sequence):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix:out_end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)

# define input sequence
raw_seq = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# choose a number of time steps
n_steps_in, n_steps_out = 3, 2

# split into samples
X, y = split_sequence(raw_seq, n_steps_in, n_steps_out)

# summarize the data
for i in range(len(X)):
	print(X[i], y[i])

[10 20 30] [40 50]
[20 30 40] [50 60]
[30 40 50] [60 70]
[40 50 60] [70 80]
[50 60 70] [80 90]

##### build model

In [22]:
# define model
model = Sequential()

# hidden layer, 100 neurons, relu activation function
model.add(Dense(100, activation='relu', input_dim=n_steps)) 

# output layer
model.add(Dense(n_steps_out))

# loss function
model.compile(optimizer='adam', loss='mse')

##### fit model

In [23]:
# fit model
model.fit(X, y, epochs=2000, verbose=0)

In [24]:
# demonstrate prediction
x_input = array([70, 80, 90])
x_input = x_input.reshape((1, n_steps))
yhat = model.predict(x_input, verbose=0)
print(yhat)

[[101.38835 113.17945]]

##### calculate MSE

In [27]:
# calculate the MSE

y_test = array([100, 110])
mse = mean_squared_error([y_test], yhat)
mse

6.018214156065369

## Web traffic case

In [1]:
from pandas import DataFrame
from pandas import Series
from pandas import concat
from pandas import read_csv
from pandas import datetime
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense
from math import sqrt
import matplotlib
import numpy as np

/home/irza/anaconda3/envs/deeplearning/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

##### read dataset

In [3]:
wt_df = read_csv('/home/irza/Downloads/train_2.csv', nrows=1)
wt_df

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-09-01,2017-09-02,2017-09-03,2017-09-04,2017-09-05,2017-09-06,2017-09-07,2017-09-08,2017-09-09,2017-09-10
0,2NE1_zh.wikipedia.org_all-access_spider,18,11,5,13,14,9,9,22,26,...,19,33,33,18,16,27,29,23,54,38

##### select and transform dataframe row to sequence

In [4]:
# take only the values without the page name

def get_seq_by_row(input_df, row_num):
    new_seq = np.delete(input_df.iloc[row_num].values, 0)
    return new_seq

wt_seq = get_seq_by_row(wt_df,0)

In [35]:
wt_seq

array([18, 11, 5, 13, 14, 9, 9, 22, 26, 24, 19, 10, 14, 15, 8, 16, 8, 8,
       16, 7, 11, 10, 20, 18, 15, 14, 49, 10, 16, 18, 8, 5, 9, 7, 13, 9,
       7, 4, 11, 10, 5, 9, 9, 9, 9, 13, 4, 15, 25, 9, 5, 6, 20, 3, 14, 46,
       5, 5, 13, 4, 9, 10, 9, 11, 11, 11, 9, 15, 5, 10, 7, 4, 8, 9, 10, 6,
       13, 16, 6, 24, 9, 11, 12, 8, 14, 6, 6, 11, 14, 6, 10, 20, 7, 15, 8,
       15, 5, 8, 8, 5, 11, 165, 34, 6, 13, 8, 9, 11, 26, 18, 3, 5, 12, 6,
       16, 19, 9, 10, 11, 11, 7, 9, 10, 24, 6, 6, 8, 16, 13, 10, 10, 6, 5,
       20, 6, 47, 9, 9, 12, 11, 17, 15, 14, 11, 97, 11, 12, 11, 14, 15,
       12, 104, 5, 22, 45, 75, 29, 34, 20, 12, 25, 9, 62, 20, 19, 8, 23,
       13, 16, 34, 36, 11, 18, 12, 24, 30, 27, 44, 35, 53, 11, 26, 13, 18,
       9, 16, 6, 19, 20, 19, 22, 30, 14, 16, 22, 15, 15, 26, 16, 13, 27,
       18, 13, 32, 31, 16, 38, 18, 9, 14, 10, 24, 8, 15, 18, 10, 23, 17,
       11, 26, 14, 8, 12, 9, 11, 34, 17, 29, 11, 9, 14, 21, 12, 11, 13,
       11, 13, 16, 13, 19, 21, 14, 11, 35, 18, 42, 15, 5, 21, 56, 9, 20,
       17, 18, 8, 9, 17, 9, 10, 14, 17, 6, 18, 13, 11, 12, 11, 8, 15, 11,
       20, 59, 11, 18, 17, 12, 14, 13, 9, 490, 189, 102, 38, 126, 71, 21,
       57, 79, 17, 17, 23, 16, 23, 18, 22, 44, 6, 31, 17, 25, 40, 19, 15,
       15, 29, 18, 16, 13, 20, 22, 19, 11, 50, 22, 39, 23, 21, 23, 22, 16,
       19, 35, 16, 12, 15, 13, 14, 10, 21, 20, 19, 14, 12, 15, 17, 16, 21,
       27, 13, 11, 15, 14, 18, 18, 10, 11, 14, 18, 14, 13, 17, 15, 14,
       234, 8, 62, 26, 22, 8, 22, 15, 69, 11, 18, 23, 12, 20, 17, 15, 16,
       18, 21, 15, 30, 115, 56, 45, 17, 18, 15, 18, 14, 15, 15, 24, 22,
       18, 30, 12, 13, 18, 17, 31, 26, 29, 12, 19, 19, 57, 17, 20, 49, 10,
       19, 26, 41, 23, 30, 55, 17, 24, 14, 12, 49, 42, 37, 13, 30, 20, 33,
       20, 14, 40, 15, 18, 26, 8, 25, 21, 20, 25, 19, 23, 18, 19, 18, 55,
       16, 65, 11, 11, 13, 20, 21, 13, 24, 20, 13, 32, 16, 10, 13, 44, 17,
       13, 72, 40, 19, 14, 13, 12, 14, 10, 26, 13, 22, 14, 23, 12, 8, 50,
       13, 10, 16, 14, 10, 24, 10, 20, 10, 26, 25, 16, 19, 20, 12, 19, 50,
       16, 30, 18, 25, 14, 20, 8, 67, 13, 41, 10, 21, 13, 8, 15, 14, 12,
       6, 11, 10, 42, 21, 24, 14, 11, 204, 14, 45, 33, 28, 18, 14, 47, 15,
       14, 18, 20, 14, 16, 14, 20, 60, 22, 15, 17, 19, 18, 21, 21, 47, 65,
       17, 32, 63, 15, 26, 14, 20, 22, 19, 18, 20, 26, 42, 35, 13, 51, 11,
       12, 31, 15, 4, 22, 12, 12, 11, 4, 12, 13, 13, 56, 47, 120, 52, 106,
       35, 77, 16, 11, 28, 5, 20, 24, 57, 43, 22, 7, 11, 13, 42, 11, 7,
       22, 13, 20, 11, 18, 16, 18, 9, 15, 16, 14, 11, 66, 18, 23, 20, 20,
       39, 16, 43, 14, 26, 15, 16, 22, 22, 28, 21, 22, 19, 28, 22, 24, 19,
       21, 28, 30, 26, 28, 22, 23, 44, 11, 22, 33, 66, 19, 73, 17, 17, 16,
       32, 38, 19, 27, 20, 124, 18, 17, 17, 32, 17, 21, 57, 22, 13, 43,
       16, 18, 13, 20, 50, 33, 31, 19, 20, 71, 24, 20, 36, 80, 25, 29, 13,
       42, 55, 21, 15, 21, 16, 22, 22, 23, 21, 19, 23, 14, 21, 24, 33, 12,
       22, 16, 66, 15, 40, 22, 18, 29, 19, 16, 37, 57, 30, 35, 25, 30, 28,
       18, 23, 37, 23, 27, 24, 26, 35, 32, 29, 38, 46, 22, 28, 26, 29, 21,
       23, 23, 32, 34, 21, 24, 23, 24, 26, 15, 14, 15, 19, 29, 22, 25, 20,
       19, 25, 17, 12, 24, 38, 43, 17, 16, 16, 12, 20, 16, 31, 19, 14, 20,
       13, 22, 14, 20, 46, 24, 22, 22, 11, 25, 45, 39, 17, 18, 13, 57, 18,
       14, 19, 39, 22, 16, 28, 21, 37, 58, 25, 23, 25, 47, 44, 26, 24, 21,
       19, 33, 33, 18, 16, 27, 29, 23, 54, 38], dtype=object)

##### transform sequence to supervised format

In [59]:
# frame a sequence as a supervised learning problem

def timeseries_to_supervised(data, lag=1, stepahead=1):
    df = DataFrame(data)
    col_num = lag+stepahead
    columns = [df.shift(i) for i in range(1, col_num)]
    columns = list(reversed(columns))
    columns.append(df)
    df = concat(columns, axis=1)    
    return df.values[col_num - 1:,:]

In [66]:
time_step_lag = 2
time_step_ahead = 3

wt_supervised = timeseries_to_supervised(wt_seq, time_step_lag, time_step_ahead)
wt_supervised

array([[18, 11, 5, 13, 14],
       [11, 5, 13, 14, 9],
       [5, 13, 14, 9, 9],
       ...,
       [18, 16, 27, 29, 23],
       [16, 27, 29, 23, 54],
       [27, 29, 23, 54, 38]], dtype=object)

#### split train and test set

In [69]:
def split_train_and_test_set(dataset, num_of_test_set=12):
    num_of_test_set = -1 * num_of_test_set
    return dataset[0:num_of_test_set], dataset[num_of_test_set:]

In [70]:
train, test = split_train_and_test_set(wt_supervised)

In [74]:
test

array([[25, 47, 44, 26, 24],
       [47, 44, 26, 24, 21],
       [44, 26, 24, 21, 19],
       [26, 24, 21, 19, 33],
       [24, 21, 19, 33, 33],
       [21, 19, 33, 33, 18],
       [19, 33, 33, 18, 16],
       [33, 33, 18, 16, 27],
       [33, 18, 16, 27, 29],
       [18, 16, 27, 29, 23],
       [16, 27, 29, 23, 54],
       [27, 29, 23, 54, 38]], dtype=object)

#### scale sequence value

In [72]:
# scale train and test data to [-1, 1]

def scale(train, test):
	# fit scaler
	scaler = MinMaxScaler(feature_range=(-1, 1))
	scaler = scaler.fit(train)
	# transform train
	train = train.reshape(train.shape[0], train.shape[1])
	train_scaled = scaler.transform(train)
	# transform test
	test = test.reshape(test.shape[0], test.shape[1])
	test_scaled = scaler.transform(test)
	return scaler, train_scaled, test_scaled

# inverse scaling for a forecasted value

def invert_scale(scaler, X, yhat):
	new_row = [x for x in X] + [yhat]
	array = numpy.array(new_row)
	array = array.reshape(1, len(array))
	inverted = scaler.inverse_transform(array)
	return inverted[0, -1]

In [73]:
scaler, train_scaled, test_scaled = scale(train, test)

/home/irza/anaconda3/envs/deeplearning/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [75]:
test_scaled

array([[-0.90965092, -0.81930185, -0.83162218, -0.90554415, -0.9137577 ],
       [-0.81930185, -0.83162218, -0.90554415, -0.9137577 , -0.92607803],
       [-0.83162218, -0.90554415, -0.9137577 , -0.92607803, -0.93429158],
       [-0.90554415, -0.9137577 , -0.92607803, -0.93429158, -0.87679671],
       [-0.9137577 , -0.92607803, -0.93429158, -0.87679671, -0.87679671],
       [-0.92607803, -0.93429158, -0.87679671, -0.87679671, -0.93839836],
       [-0.93429158, -0.87679671, -0.87679671, -0.93839836, -0.94661191],
       [-0.87679671, -0.87679671, -0.93839836, -0.94661191, -0.90143737],
       [-0.87679671, -0.93839836, -0.94661191, -0.90143737, -0.89322382],
       [-0.93839836, -0.94661191, -0.90143737, -0.89322382, -0.91786448],
       [-0.94661191, -0.90143737, -0.89322382, -0.91786448, -0.79055441],
       [-0.90143737, -0.89322382, -0.91786448, -0.79055441, -0.85626283]])

In [84]:
test_scaled[:,0:-1]

array([[-0.90965092, -0.81930185, -0.83162218, -0.90554415],
       [-0.81930185, -0.83162218, -0.90554415, -0.9137577 ],
       [-0.83162218, -0.90554415, -0.9137577 , -0.92607803],
       [-0.90554415, -0.9137577 , -0.92607803, -0.93429158],
       [-0.9137577 , -0.92607803, -0.93429158, -0.87679671],
       [-0.92607803, -0.93429158, -0.87679671, -0.87679671],
       [-0.93429158, -0.87679671, -0.87679671, -0.93839836],
       [-0.87679671, -0.87679671, -0.93839836, -0.94661191],
       [-0.87679671, -0.93839836, -0.94661191, -0.90143737],
       [-0.93839836, -0.94661191, -0.90143737, -0.89322382],
       [-0.94661191, -0.90143737, -0.89322382, -0.91786448],
       [-0.90143737, -0.89322382, -0.91786448, -0.79055441]])